<!DOCTYPE html>
  <html lang="ja">
    <head>
      <title><%= content_for?(:title) ? yield(:title) + " - Business Card Manager" : "Business Card Manager" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <!-- Bootstrap 5 CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "vendors", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <body data-turbo="false">
      <%= render 'shared/header' %>

      <main class="container mt-4">
        <% flash.each do |type, message| %>
          <% bootstrap_class = case type.to_s
                               when 'notice' then 'alert-success'
                               when 'success' then 'alert-success'
                               when 'alert' then 'alert-danger'
                               when 'info' then 'alert-info'
                               when 'warning' then 'alert-warning'
                         else 'alert-primary'
                         end %>
            <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        <% end %>
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>

      <!-- Bootstrap 5 JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
